/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(249, 234, 255);  
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
    font-family:Brush Script;
}


footer {
    text-align: center;
    padding-bottom: 10px;

}


/* specifieke stijlen */

img.zweefLinks {
    float:left;
    margin-right: 25px;
    margin-bottom: 20px;
    height:175px;
    border: 3px;
    
}

.smalltext {
    font-size: 0.9em;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type:none;
    margin:2px;
    padding:7px;
    background-color:white;
    overflow:hidden;
    
}

nav ul li {
    float:left; 

}

nav li a {
    display:block;
    color: rgb(0, 0, 0);
    text-align:left;
    padding: 14px 16px;
    text-decoration:none;
}

nav li a:hover {
    background-color:plum;
}

#plaatje1 { height:190px;
padding: 6px; border:double 5px black;
}

#plaatje2 { height:175px;
 float:right; margin-left: 25px;
 padding: 6px; border:double 5px black;
}

nav li a.active {
    background-color:rgba(162, 205, 255, 0.788);
    text-color:white;
}

.trailer {background-color:white;
font-family: fantasy;
}




